<footer class="site-footer">
    <section class="copyright">
        &copy;
        {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
            {{ .Site.Params.footer.since }} -
        {{ end }}
        {{ now.Format "2006" }} {{ default .Site.Title .Site.Copyright }}
    </section>

    <section class="powerby">
        <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener">苏ICP备2020056259号-1</a>
        <br/>
        萌ICP备 20221205 号
    </section>
</footer>
